body{
    background: linear-gradient(to top, #651aa2 0%, #ffffff 100%);
}

form{
    background-color: #ffffff8f;
    border-radius: 8px;
    border: 0;
    width: 70%;
    max-width: 300px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

form input[type=number]{
    border: 2px solid #ffffff;
    width: 100%;
    outline: 0;
    margin: 10px 0;
    padding-left: 10px;
    height: 40px;

}

form input[type=button]{
    cursor: pointer;
    background-color: #651aa2;
    color: #ffffff;
    transition: 1s;
    border: 0;
    border-radius: 4px;
    height: 30px;
    width: 100%;
}

h1{
    color: #651aa2;
    text-align: center;
    margin-top: 10px;
}

#IMC{
    background-color: #ffffff;
    text-align: right;
    font-size: 25px;
    width: 100%;
    height: 30px;
    border: 0;
    border-radius: 2px;
}
        